{% extends 'layouts/layout.html' %}


{% block title %} {{title}} {% endblock %}

<!--Pagina de login-->

{% block content %}
    <h1>{{title}}</h1>
    
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <!--Aqui se crea el formulario y el metodo que recibira la informacion
    tipo POST es mas segura-->
    <form method="POST" action="">
        <!--El csrf_token protege como pasa la informacion-->
        {% csrf_token %}
        <label for="username">Nombre de usuario:</label>
        <input type="text" name="username" />

        <label for="password">Contraseña:</label>
        <input type="password" name="password" />

        <input type="submit" value="Login" />
    </form>
    
    <div>
        <p>¿Olvidaste tu usuario?</p>
        <a href="{% url 'recuperar_usuario' %}">Recuperar usuario</a>
    </div>

    <div>
        <p>¿Olvidaste tu contraseña?</p>
        <a href="{% url 'recuperar_password' %}">Recuperar contraseña</a>
    </div>
{% endblock %}