body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #138897, #d7dbdd, #4f1ab3);
}

p {
    font-size: 20px;
    margin-top: 20px;
    padding-top: 50px;
    line-height: 2;
}

nav{
    width: 100%;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container {
    background-color: rgb(248, 252, 255);
    padding: 50px;
    border-radius: 25px;
    box-shadow: 0 0 20px rgb(149, 160, 172);
    max-width: 650px;
    max-width: 700px;
    width: 100%;
    text-align: center;
}

.container h2{
    font-size: 30px;
    color: #46A2FD;
}

.form-group {
    margin-bottom: 20px; /* Reduce el espacio entre los grupos de formulario */
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px; /* Reduce el margen debajo del label */
}

.form-group input {
    height: 40px;
    width: 100%; /* Asegúrate de que el campo de texto ocupe todo el ancho disponible del contenedor */
    outline: none;
    border-radius: 5px;
    border: none;
    background: #F2F2F2;
    padding-left: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    font-size: 14px;
}

.form-group button {
    background-color: #17b9eb;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%; /* Ajusta el ancho para que sea consistente con el campo de entrada */
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px; /* Espacio antes del botón */
}

.form-group button:hover {
    background-color: #0cb2f3;
}