/*  Se le aplica el siguente patron de uso universal
    para hacere uso de los pseudoelementos after y 
    before.  
*/

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* CSS BARRA DE NAVEGATION*/

nav{
    background-color: midnightblue;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    height: 75px;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 70px;
    display: flex;
    margin-right: 20px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    align-items: center;
    color: white;
}

/*  animacion menus barra de navegacion */
.pri{
    font-size: 25px;
    padding-top: 20px;
    letter-spacing: 0.5px;
}

/*  FINAL animacion de menus */



/*  ENFECTO DE LINEA EN BARRA DE NAVEGACION USANDO LA CLASE .PRI */

.pri::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background-color: aqua;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.pri:hover{
    color: aqua;
}
.pri:hover::after{
    width: 100%;
}

/* FIN DEL CSS CLASE .PRI */



/*  Estilo de letra de sub menu (clase sub-item) */
nav .sub-item{
    font-size: 22px;
    color: black;
    padding-top: 20px;
    
}

.sub-item:hover{
    background-color: midnightblue;
}

.sub-item{
   transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

.sub-item:hover{
    color: white;
}

/* Final de estilo de submenu (clase sub-item) */

/* TAMAÑO DE IMAGENES*/
img{
    height: 50px;
    width: 85px;
    color: white;
}
  /*  LOGO DE LA UNIVERSIDAD  */
img .logo:hover{
    background-color: none;
}

nav a:first-child{
    margin-right: auto;
}

/*  MINI NAV  */

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.button-close{
    padding-top: 10px;
    padding: -10px;
}

.button-menu{
    display: none;
    padding-top: 10px;
}

/*  NAV RESPONSIVE  */

@media(max-width: 800px){
    .hidemobile{
        display: none;
    }

    .button-menu{
        display: block;
    }
}


@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}

/*  FIN CSS BARRA DE NAVEGACION */


/* INICIO CSS CARRUSEL  */

.slider{
    height: auto;
    overflow: hidden;
}

.img-slider{
    width: 100%;
    height: 100vh;
}


.slider ul{
    display: flex;
    padding: 0;
    margin: 0;
    width: 500%;
    animation: slide 20s infinite alternate ease-in-out;
}
.slider li{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

.texto-slider{
    position: absolute;
    text-align: center;
    justify-content: center;
    top: 100px;
    color: #ffffff;
    padding: 0 35px;
}

.texto-slider h1{
    font-size: 75px;
    margin-bottom: 20px;
    padding: 0 30px;
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.parrafo-slider{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;

}

.cita-slider{
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin-top: 15px;
}


/*  ANIMCION DEL CARRUSEL */

@keyframes slide{
    0% {margin-left: 0;}
    20%{margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

 /* FIN DE ANIMACION DEL CARRUSL  */

/*  RESPONSIVE DE CARRUSEL PC */

@media(max-width:991px){
    body{
        margin: 0;
        padding: 0;
    }

    .slider{
        width: 100%;
    }

    .texto-slider{
        top: 40px;
    }

    .texto-slider h1{
        font-size: 45px;
        margin-bottom: 15px;
        padding: 0 10px;
    }

    .parrafo-slider {
        font-size: 25px;
    }

    .cita-slider{
        font-size: 20px;
    }
}

/*  Codigo que evita que queden espacios
en blanco en la parte inferior de la imagen  */
@media(max-height: 991px){
    .slider{
        height: 100vh;
    }    
}

/*  FIN DE CARRUSEL  */



/*  SECTION DESCRIPTION CSS  */

/* CONTAINER  */



.title-description{
    font-size: 40px;
    font-family: "Lexend", sans-serif;
    text-align: center;
    padding: 20px;
    text-decoration: underline;
}

.contenido-description{
    display: flex;
    padding: 30px;
}



/*  IMAGEN DE LA DESCRIPCION  */

.img-description{

    width: 540px;
    height: 440px;
    padding-right: 40px;

}
/*  contenedor de la descripcion del sistema */


.content-text{
    background-color: darkgrey;
    padding: 0 15px;
    margin-bottom: 5px;
    border: 4px solid black;
    border-radius: 8px;
}

.description-text{
    padding: 2px;
    font-size: 20px;
    text-align: justify;
    font-family: "Niramit", sans-serif;
}


/* RESPONSIVE DE LA SECCION DE DESCRIPCION  */

@media(max-width:991px){

    .contenido-description{
        display: block;
        padding: 12px;
    }

    .img-description{
        width: 100%;
        height: 280px;
        margin-bottom: 15px;
        padding-left: 30px;
        
    }

    .content-text{
        padding: 5px;
        margin-left: 30px;
        margin-right: 38px;
        
    }

    .description-text{
        font-size: 17px;
    }

}


/* FIN DESCRIPCION DEL SISTEMA */


/*  INICIO CSS FOOTER  */

.footer{
    width: 100%;
    position: relative;
    background: midnightblue;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-network{
    display: flex;
    position: relative;
    justify-content:center;
    align-items: center;
    margin: 10px 5px;
    flex-wrap: wrap;
}

.icon-elem{
    list-style: none;
}

.icons{
    color: white;
    font-size: 40px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
}

.icons:hover{
    transform: translateY(-10px);
}

.menu{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.menu-elem{
    list-style: none;
}

.menu-icon{
    color: white;
    font-size: 25px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
}

.menu-icon:hover{
    opacity: 1;
}

.text-footer{
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 10px;
}


/*   titulo de direccion de universidad   */
.subtitle-footer{
    font-size: 25px;
    text-align: center;
    color: white;
    justify-content: center;
    margin-top: 10px;
}

/*  Direcccion y telefono de la universidad */
.datos{
    font-size: 22px;
    text-align: center;
    color: white;
    justify-content: center;
    margin-top: 8px;
    font-family: Arial, Helvetica, sans-serif;
}


/*  Seccion de color gris  (PROYECTO UNEXCA 2024) */
.section{
    background-color: #807e7e;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 40px;
    display: flex;
}

.ex-footer{
    text-align: center;
    color: white;
    font-size: 22px;
    margin-top: 12px;
    margin-bottom: 10px;
}